=begin
#RIXL API

#**Build a powerful video experience from on-demand streaming to dynamic social feeds with a single API.**  RIXL handles video processing, ingestion and global delivery so you don't have to. With builtin support for transcoding, storage and structured media feeds, Our API makes it easy to deliver high-quality media content at scale.

The version of the OpenAPI document: 2.0
Contact: support@rixl.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenapiClient
  class ImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List images for a project
    # Retrieve all images for a specific project, with pagination and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items to return in a single request. &lt;br&gt; **Default:** &#x60;25&#x60; (default to 25)
    # @option opts [Integer] :offset Starting point of the result set. &lt;br&gt;To get page 2 with a limit of 25, set &#x60;offset&#x60; to &#x60;25&#x60;. &lt;br&gt; **Default:** &#x60;0&#x60; (default to 0)
    # @option opts [String] :sort Field to sort by (created_at, name, size, updated_at)
    # @option opts [String] :order Sort order (asc, desc)
    # @return [PaginationPaginatedResponseImage]
    def images_get(opts = {})
      data, _status_code, _headers = images_get_with_http_info(opts)
      data
    end

    # List images for a project
    # Retrieve all images for a specific project, with pagination and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items to return in a single request. &lt;br&gt; **Default:** &#x60;25&#x60; (default to 25)
    # @option opts [Integer] :offset Starting point of the result set. &lt;br&gt;To get page 2 with a limit of 25, set &#x60;offset&#x60; to &#x60;25&#x60;. &lt;br&gt; **Default:** &#x60;0&#x60; (default to 0)
    # @option opts [String] :sort Field to sort by (created_at, name, size, updated_at)
    # @option opts [String] :order Sort order (asc, desc)
    # @return [Array<(PaginationPaginatedResponseImage, Integer, Hash)>] PaginationPaginatedResponseImage data, response status code and response headers
    def images_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ImagesApi.images_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ImagesApi.images_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ImagesApi.images_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginationPaginatedResponseImage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete image
    # delete an image by marking it as deleted
    # @param image_id [String] Image ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def images_image_id_delete(image_id, opts = {})
      images_image_id_delete_with_http_info(image_id, opts)
      nil
    end

    # Delete image
    # delete an image by marking it as deleted
    # @param image_id [String] Image ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def images_image_id_delete_with_http_info(image_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_image_id_delete ...'
      end
      # verify the required parameter 'image_id' is set
      if @api_client.config.client_side_validation && image_id.nil?
        fail ArgumentError, "Missing the required parameter 'image_id' when calling ImagesApi.images_image_id_delete"
      end
      # resource path
      local_var_path = '/images/{imageId}'.sub('{' + 'imageId' + '}', CGI.escape(image_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_image_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_image_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get image
    # Retrieve an image by its ID for a specific project.
    # @param image_id [String] Image ID
    # @param [Hash] opts the optional parameters
    # @return [Image]
    def images_image_id_get(image_id, opts = {})
      data, _status_code, _headers = images_image_id_get_with_http_info(image_id, opts)
      data
    end

    # Get image
    # Retrieve an image by its ID for a specific project.
    # @param image_id [String] Image ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Image, Integer, Hash)>] Image data, response status code and response headers
    def images_image_id_get_with_http_info(image_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_image_id_get ...'
      end
      # verify the required parameter 'image_id' is set
      if @api_client.config.client_side_validation && image_id.nil?
        fail ArgumentError, "Missing the required parameter 'image_id' when calling ImagesApi.images_image_id_get"
      end
      # resource path
      local_var_path = '/images/{imageId}'.sub('{' + 'imageId' + '}', CGI.escape(image_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Image'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_image_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_image_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload: Mark as complete
    # Complete the upload process and create the image record using API key authentication
    # @param images_upload_complete_post_request [ImagesUploadCompletePostRequest] Upload completion request
    # @param [Hash] opts the optional parameters
    # @return [Image]
    def images_upload_complete_post(images_upload_complete_post_request, opts = {})
      data, _status_code, _headers = images_upload_complete_post_with_http_info(images_upload_complete_post_request, opts)
      data
    end

    # Upload: Mark as complete
    # Complete the upload process and create the image record using API key authentication
    # @param images_upload_complete_post_request [ImagesUploadCompletePostRequest] Upload completion request
    # @param [Hash] opts the optional parameters
    # @return [Array<(Image, Integer, Hash)>] Image data, response status code and response headers
    def images_upload_complete_post_with_http_info(images_upload_complete_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_upload_complete_post ...'
      end
      # verify the required parameter 'images_upload_complete_post_request' is set
      if @api_client.config.client_side_validation && images_upload_complete_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'images_upload_complete_post_request' when calling ImagesApi.images_upload_complete_post"
      end
      # resource path
      local_var_path = '/images/upload/complete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(images_upload_complete_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Image'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_upload_complete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_upload_complete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload: Init
    # Initialize a presigned URL upload for an image file using API key authentication
    # @param images_upload_init_post_request [ImagesUploadInitPostRequest] Upload initialization request
    # @param [Hash] opts the optional parameters
    # @return [InternalImagesHandlerInitResponse]
    def images_upload_init_post(images_upload_init_post_request, opts = {})
      data, _status_code, _headers = images_upload_init_post_with_http_info(images_upload_init_post_request, opts)
      data
    end

    # Upload: Init
    # Initialize a presigned URL upload for an image file using API key authentication
    # @param images_upload_init_post_request [ImagesUploadInitPostRequest] Upload initialization request
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternalImagesHandlerInitResponse, Integer, Hash)>] InternalImagesHandlerInitResponse data, response status code and response headers
    def images_upload_init_post_with_http_info(images_upload_init_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ImagesApi.images_upload_init_post ...'
      end
      # verify the required parameter 'images_upload_init_post_request' is set
      if @api_client.config.client_side_validation && images_upload_init_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'images_upload_init_post_request' when calling ImagesApi.images_upload_init_post"
      end
      # resource path
      local_var_path = '/images/upload/init'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(images_upload_init_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InternalImagesHandlerInitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ImagesApi.images_upload_init_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ImagesApi#images_upload_init_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
