=begin
#RIXL API

#**Build a powerful video experience from on-demand streaming to dynamic social feeds with a single API.**  RIXL handles video processing, ingestion and global delivery so you don't have to. With builtin support for transcoding, storage and structured media feeds, Our API makes it easy to deliver high-quality media content at scale.

The version of the OpenAPI document: 2.0
Contact: support@rixl.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenapiClient
  class VideosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List videos for a project
    # Retrieve all videos for a specific project, with pagination and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items to return in a single request. &lt;br&gt; **Default:** &#x60;25&#x60; (default to 25)
    # @option opts [Integer] :offset Starting point of the result set. &lt;br&gt;To get page 2 with a limit of 25, set &#x60;offset&#x60; to &#x60;25&#x60;. &lt;br&gt; **Default:** &#x60;0&#x60; (default to 0)
    # @option opts [String] :sort Field to sort by (created_at, name, size, updated_at, duration)
    # @option opts [String] :order Sort order (asc, desc)
    # @return [PaginationPaginatedResponseVideo]
    def videos_get(opts = {})
      data, _status_code, _headers = videos_get_with_http_info(opts)
      data
    end

    # List videos for a project
    # Retrieve all videos for a specific project, with pagination and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of items to return in a single request. &lt;br&gt; **Default:** &#x60;25&#x60; (default to 25)
    # @option opts [Integer] :offset Starting point of the result set. &lt;br&gt;To get page 2 with a limit of 25, set &#x60;offset&#x60; to &#x60;25&#x60;. &lt;br&gt; **Default:** &#x60;0&#x60; (default to 0)
    # @option opts [String] :sort Field to sort by (created_at, name, size, updated_at, duration)
    # @option opts [String] :order Sort order (asc, desc)
    # @return [Array<(PaginationPaginatedResponseVideo, Integer, Hash)>] PaginationPaginatedResponseVideo data, response status code and response headers
    def videos_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VideosApi.videos_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VideosApi.videos_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling VideosApi.videos_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/videos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginationPaginatedResponseVideo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available subtitle languages
    # Get list of supported languages for subtitles
    # @param [Hash] opts the optional parameters
    # @return [Array<InternalVideosHandlerSubtitlesLanguageResponse>]
    def videos_languages_get(opts = {})
      data, _status_code, _headers = videos_languages_get_with_http_info(opts)
      data
    end

    # List available subtitle languages
    # Get list of supported languages for subtitles
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InternalVideosHandlerSubtitlesLanguageResponse>, Integer, Hash)>] Array<InternalVideosHandlerSubtitlesLanguageResponse> data, response status code and response headers
    def videos_languages_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_languages_get ...'
      end
      # resource path
      local_var_path = '/videos/languages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<InternalVideosHandlerSubtitlesLanguageResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VideosApi.videos_languages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_languages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload: Mark as complete
    # Mark a video upload as complete after successful upload to storage using API key authentication
    # @param videos_upload_complete_post_request [VideosUploadCompletePostRequest] Video upload completion request
    # @param [Hash] opts the optional parameters
    # @return [Video]
    def videos_upload_complete_post(videos_upload_complete_post_request, opts = {})
      data, _status_code, _headers = videos_upload_complete_post_with_http_info(videos_upload_complete_post_request, opts)
      data
    end

    # Upload: Mark as complete
    # Mark a video upload as complete after successful upload to storage using API key authentication
    # @param videos_upload_complete_post_request [VideosUploadCompletePostRequest] Video upload completion request
    # @param [Hash] opts the optional parameters
    # @return [Array<(Video, Integer, Hash)>] Video data, response status code and response headers
    def videos_upload_complete_post_with_http_info(videos_upload_complete_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_upload_complete_post ...'
      end
      # verify the required parameter 'videos_upload_complete_post_request' is set
      if @api_client.config.client_side_validation && videos_upload_complete_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'videos_upload_complete_post_request' when calling VideosApi.videos_upload_complete_post"
      end
      # resource path
      local_var_path = '/videos/upload/complete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(videos_upload_complete_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Video'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_upload_complete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_upload_complete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload: Init
    # Initialize a video upload and get presigned URLs for video and poster using API key authentication
    # @param videos_upload_init_post_request [VideosUploadInitPostRequest] Video upload initialization request
    # @param [Hash] opts the optional parameters
    # @return [GithubComQeeqezApiInternalVideosHandlerUploadInitResponse]
    def videos_upload_init_post(videos_upload_init_post_request, opts = {})
      data, _status_code, _headers = videos_upload_init_post_with_http_info(videos_upload_init_post_request, opts)
      data
    end

    # Upload: Init
    # Initialize a video upload and get presigned URLs for video and poster using API key authentication
    # @param videos_upload_init_post_request [VideosUploadInitPostRequest] Video upload initialization request
    # @param [Hash] opts the optional parameters
    # @return [Array<(GithubComQeeqezApiInternalVideosHandlerUploadInitResponse, Integer, Hash)>] GithubComQeeqezApiInternalVideosHandlerUploadInitResponse data, response status code and response headers
    def videos_upload_init_post_with_http_info(videos_upload_init_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_upload_init_post ...'
      end
      # verify the required parameter 'videos_upload_init_post_request' is set
      if @api_client.config.client_side_validation && videos_upload_init_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'videos_upload_init_post_request' when calling VideosApi.videos_upload_init_post"
      end
      # resource path
      local_var_path = '/videos/upload/init'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(videos_upload_init_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GithubComQeeqezApiInternalVideosHandlerUploadInitResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_upload_init_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_upload_init_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all audio tracks
    # Remove all additional audio tracks from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [AudioTrackDelete]
    def videos_video_id_audio_tracks_delete(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_audio_tracks_delete_with_http_info(video_id, opts)
      data
    end

    # Delete all audio tracks
    # Remove all additional audio tracks from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTrackDelete, Integer, Hash)>] AudioTrackDelete data, response status code and response headers
    def videos_video_id_audio_tracks_delete_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_audio_tracks_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_audio_tracks_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/audio-tracks'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTrackDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_audio_tracks_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_audio_tracks_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete audio track by language
    # Remove an audio track for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [AudioTrackDelete]
    def videos_video_id_audio_tracks_lang_code_delete(video_id, lang_code, opts = {})
      data, _status_code, _headers = videos_video_id_audio_tracks_lang_code_delete_with_http_info(video_id, lang_code, opts)
      data
    end

    # Delete audio track by language
    # Remove an audio track for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTrackDelete, Integer, Hash)>] AudioTrackDelete data, response status code and response headers
    def videos_video_id_audio_tracks_lang_code_delete_with_http_info(video_id, lang_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_audio_tracks_lang_code_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_audio_tracks_lang_code_delete"
      end
      # verify the required parameter 'lang_code' is set
      if @api_client.config.client_side_validation && lang_code.nil?
        fail ArgumentError, "Missing the required parameter 'lang_code' when calling VideosApi.videos_video_id_audio_tracks_lang_code_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/audio-tracks/{lang_code}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'lang_code' + '}', CGI.escape(lang_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTrackDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_audio_tracks_lang_code_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_audio_tracks_lang_code_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert video audio track
    # Add or replace an audio track for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [AudioTrack]
    def videos_video_id_audio_tracks_lang_code_put(video_id, lang_code, opts = {})
      data, _status_code, _headers = videos_video_id_audio_tracks_lang_code_put_with_http_info(video_id, lang_code, opts)
      data
    end

    # Upsert video audio track
    # Add or replace an audio track for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTrack, Integer, Hash)>] AudioTrack data, response status code and response headers
    def videos_video_id_audio_tracks_lang_code_put_with_http_info(video_id, lang_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_audio_tracks_lang_code_put ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_audio_tracks_lang_code_put"
      end
      # verify the required parameter 'lang_code' is set
      if @api_client.config.client_side_validation && lang_code.nil?
        fail ArgumentError, "Missing the required parameter 'lang_code' when calling VideosApi.videos_video_id_audio_tracks_lang_code_put"
      end
      # resource path
      local_var_path = '/videos/{videoId}/audio-tracks/{lang_code}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'lang_code' + '}', CGI.escape(lang_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTrack'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_audio_tracks_lang_code_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_audio_tracks_lang_code_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk upsert video audio tracks
    # Replace all audio tracks with the provided ones using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<AudioTrack>]
    def videos_video_id_audio_tracks_post(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_audio_tracks_post_with_http_info(video_id, opts)
      data
    end

    # Bulk upsert video audio tracks
    # Replace all audio tracks with the provided ones using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AudioTrack>, Integer, Hash)>] Array<AudioTrack> data, response status code and response headers
    def videos_video_id_audio_tracks_post_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_audio_tracks_post ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_audio_tracks_post"
      end
      # resource path
      local_var_path = '/videos/{videoId}/audio-tracks'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AudioTrack>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_audio_tracks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_audio_tracks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete audio track
    # Remove an additional audio track from a video using API key authentication
    # @param video_id [String] Video ID
    # @param track_id [String] Audio Track ID
    # @param [Hash] opts the optional parameters
    # @return [AudioTrackDelete]
    def videos_video_id_audio_tracks_track_id_delete(video_id, track_id, opts = {})
      data, _status_code, _headers = videos_video_id_audio_tracks_track_id_delete_with_http_info(video_id, track_id, opts)
      data
    end

    # Delete audio track
    # Remove an additional audio track from a video using API key authentication
    # @param video_id [String] Video ID
    # @param track_id [String] Audio Track ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AudioTrackDelete, Integer, Hash)>] AudioTrackDelete data, response status code and response headers
    def videos_video_id_audio_tracks_track_id_delete_with_http_info(video_id, track_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_audio_tracks_track_id_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_audio_tracks_track_id_delete"
      end
      # verify the required parameter 'track_id' is set
      if @api_client.config.client_side_validation && track_id.nil?
        fail ArgumentError, "Missing the required parameter 'track_id' when calling VideosApi.videos_video_id_audio_tracks_track_id_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/audio-tracks/{trackId}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'trackId' + '}', CGI.escape(track_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTrackDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_audio_tracks_track_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_audio_tracks_track_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete video chapters
    # Remove all chapters from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [UpdateChaptersResponse]
    def videos_video_id_chapters_delete(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_chapters_delete_with_http_info(video_id, opts)
      data
    end

    # Delete video chapters
    # Remove all chapters from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateChaptersResponse, Integer, Hash)>] UpdateChaptersResponse data, response status code and response headers
    def videos_video_id_chapters_delete_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_chapters_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_chapters_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/chapters'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateChaptersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_chapters_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_chapters_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update video chapters
    # Replace all chapters for a video (atomic PUT operation) using API key authentication
    # @param video_id [String] Video ID
    # @param videos_video_id_chapters_put_request [VideosVideoIdChaptersPutRequest] Chapters array
    # @param [Hash] opts the optional parameters
    # @return [UpdateChaptersResponse]
    def videos_video_id_chapters_put(video_id, videos_video_id_chapters_put_request, opts = {})
      data, _status_code, _headers = videos_video_id_chapters_put_with_http_info(video_id, videos_video_id_chapters_put_request, opts)
      data
    end

    # Update video chapters
    # Replace all chapters for a video (atomic PUT operation) using API key authentication
    # @param video_id [String] Video ID
    # @param videos_video_id_chapters_put_request [VideosVideoIdChaptersPutRequest] Chapters array
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateChaptersResponse, Integer, Hash)>] UpdateChaptersResponse data, response status code and response headers
    def videos_video_id_chapters_put_with_http_info(video_id, videos_video_id_chapters_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_chapters_put ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_chapters_put"
      end
      # verify the required parameter 'videos_video_id_chapters_put_request' is set
      if @api_client.config.client_side_validation && videos_video_id_chapters_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'videos_video_id_chapters_put_request' when calling VideosApi.videos_video_id_chapters_put"
      end
      # resource path
      local_var_path = '/videos/{videoId}/chapters'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(videos_video_id_chapters_put_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateChaptersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_chapters_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_chapters_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete video
    # Delete a video by its ID within a project
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def videos_video_id_delete_delete(video_id, opts = {})
      videos_video_id_delete_delete_with_http_info(video_id, opts)
      nil
    end

    # Delete video
    # Delete a video by its ID within a project
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def videos_video_id_delete_delete_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_delete_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_delete_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/delete'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_delete_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a video
    # Retrieve a video by its ID for a specific project.
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Video]
    def videos_video_id_get(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_get_with_http_info(video_id, opts)
      data
    end

    # Get a video
    # Retrieve a video by its ID for a specific project.
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Video, Integer, Hash)>] Video data, response status code and response headers
    def videos_video_id_get_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_get ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_get"
      end
      # resource path
      local_var_path = '/videos/{videoId}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Video'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all subtitles
    # Remove all subtitles from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [SubtitleDelete]
    def videos_video_id_subtitles_delete(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_subtitles_delete_with_http_info(video_id, opts)
      data
    end

    # Delete all subtitles
    # Remove all subtitles from a video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubtitleDelete, Integer, Hash)>] SubtitleDelete data, response status code and response headers
    def videos_video_id_subtitles_delete_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_subtitles_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_subtitles_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/subtitles'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubtitleDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_subtitles_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_subtitles_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete subtitle by language
    # Remove a subtitle for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [SubtitleDelete]
    def videos_video_id_subtitles_lang_code_delete(video_id, lang_code, opts = {})
      data, _status_code, _headers = videos_video_id_subtitles_lang_code_delete_with_http_info(video_id, lang_code, opts)
      data
    end

    # Delete subtitle by language
    # Remove a subtitle for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubtitleDelete, Integer, Hash)>] SubtitleDelete data, response status code and response headers
    def videos_video_id_subtitles_lang_code_delete_with_http_info(video_id, lang_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_subtitles_lang_code_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_subtitles_lang_code_delete"
      end
      # verify the required parameter 'lang_code' is set
      if @api_client.config.client_side_validation && lang_code.nil?
        fail ArgumentError, "Missing the required parameter 'lang_code' when calling VideosApi.videos_video_id_subtitles_lang_code_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/subtitles/{lang_code}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'lang_code' + '}', CGI.escape(lang_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubtitleDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_subtitles_lang_code_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_subtitles_lang_code_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert video subtitle
    # Add or replace a subtitle for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [Subtitle]
    def videos_video_id_subtitles_lang_code_put(video_id, lang_code, opts = {})
      data, _status_code, _headers = videos_video_id_subtitles_lang_code_put_with_http_info(video_id, lang_code, opts)
      data
    end

    # Upsert video subtitle
    # Add or replace a subtitle for a specific language using API key authentication
    # @param video_id [String] Video ID
    # @param lang_code [String] Language Code (BCP 47)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subtitle, Integer, Hash)>] Subtitle data, response status code and response headers
    def videos_video_id_subtitles_lang_code_put_with_http_info(video_id, lang_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_subtitles_lang_code_put ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_subtitles_lang_code_put"
      end
      # verify the required parameter 'lang_code' is set
      if @api_client.config.client_side_validation && lang_code.nil?
        fail ArgumentError, "Missing the required parameter 'lang_code' when calling VideosApi.videos_video_id_subtitles_lang_code_put"
      end
      # resource path
      local_var_path = '/videos/{videoId}/subtitles/{lang_code}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'lang_code' + '}', CGI.escape(lang_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Subtitle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_subtitles_lang_code_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_subtitles_lang_code_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk upsert video subtitles
    # Replace all subtitles with the provided ones using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<Subtitle>]
    def videos_video_id_subtitles_post(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_subtitles_post_with_http_info(video_id, opts)
      data
    end

    # Bulk upsert video subtitles
    # Replace all subtitles with the provided ones using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Subtitle>, Integer, Hash)>] Array<Subtitle> data, response status code and response headers
    def videos_video_id_subtitles_post_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_subtitles_post ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_subtitles_post"
      end
      # resource path
      local_var_path = '/videos/{videoId}/subtitles'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Subtitle>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_subtitles_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_subtitles_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete subtitle
    # Remove a subtitle from a video using API key authentication
    # @param video_id [String] Video ID
    # @param subtitle_id [String] Subtitle ID
    # @param [Hash] opts the optional parameters
    # @return [SubtitleDelete]
    def videos_video_id_subtitles_subtitle_id_delete(video_id, subtitle_id, opts = {})
      data, _status_code, _headers = videos_video_id_subtitles_subtitle_id_delete_with_http_info(video_id, subtitle_id, opts)
      data
    end

    # Delete subtitle
    # Remove a subtitle from a video using API key authentication
    # @param video_id [String] Video ID
    # @param subtitle_id [String] Subtitle ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubtitleDelete, Integer, Hash)>] SubtitleDelete data, response status code and response headers
    def videos_video_id_subtitles_subtitle_id_delete_with_http_info(video_id, subtitle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_subtitles_subtitle_id_delete ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_subtitles_subtitle_id_delete"
      end
      # verify the required parameter 'subtitle_id' is set
      if @api_client.config.client_side_validation && subtitle_id.nil?
        fail ArgumentError, "Missing the required parameter 'subtitle_id' when calling VideosApi.videos_video_id_subtitles_subtitle_id_delete"
      end
      # resource path
      local_var_path = '/videos/{videoId}/subtitles/{subtitleId}'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s)).sub('{' + 'subtitleId' + '}', CGI.escape(subtitle_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubtitleDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_subtitles_subtitle_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_subtitles_subtitle_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update video thumbnail
    # Update the thumbnail image for an existing video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Video]
    def videos_video_id_thumbnail_put(video_id, opts = {})
      data, _status_code, _headers = videos_video_id_thumbnail_put_with_http_info(video_id, opts)
      data
    end

    # Update video thumbnail
    # Update the thumbnail image for an existing video using API key authentication
    # @param video_id [String] Video ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Video, Integer, Hash)>] Video data, response status code and response headers
    def videos_video_id_thumbnail_put_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosApi.videos_video_id_thumbnail_put ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling VideosApi.videos_video_id_thumbnail_put"
      end
      # resource path
      local_var_path = '/videos/{videoId}/thumbnail'.sub('{' + 'videoId' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Video'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"VideosApi.videos_video_id_thumbnail_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosApi#videos_video_id_thumbnail_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
